<mat-toolbar color="primary">
    <div class="ml-auto" style="flex: 1;">
      <!-- <button mat-icon-button aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Shop Listfy</span>
      <span class="example-spacer"></span>
    </div>
  
    <div class="ml-auto" style="flex: 1;">
        
          <!-- <input matInput placeholder="Pesquisar produto"> -->
    </div>
  
    <!-- Adicione ml-auto para colocar os botões à direita -->
    <div class="ml-auto" style="flex: 1;">
      <!-- <button mat-icon-button >
        <mat-icon>refresh</mat-icon>
      </button> -->
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
        <span class="badge">5</span>
      </button>
    </div>
  </mat-toolbar>
  