<div style="position: absolute; top: 14px; right: 50px">
  <app-product-refresh-button
    (refresh)="resetPagination()"
  ></app-product-refresh-button>
</div>
<section class="container">
  <app-product-search (search)="onSearch($event)"></app-product-search>

  <div class="productList">
    <mat-card
      class="example-card"
      *ngFor="let product of products"
      (click)="openProductModal(product)"
      style="box-shadow: 0px 0px 8px -1px rgba(173,173,173,1);"
    >
      <mat-card-header>
        <div class="example-header-image"></div>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title style="font-size: 1rem">{{
          product.name | uppercase
        }}</mat-card-title>
        <!-- <mat-card-subtitle >{{product.category | lowercase}}</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image [src]="product.avatar" alt="Photo of a Shiba Inu" />

      <mat-card-subtitle style="padding-left: 8px">{{
        product.category | lowercase
      }}</mat-card-subtitle>
      <mat-card-content>
        <!-- <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p> -->
      </mat-card-content>
      <mat-card-actions>
        <div style="width: 52%">
          <app-star [rating]="product.rating"></app-star>
        </div>
        <div>
          <button mat-button style="font-size: 1.2rem">
            R$ {{ product.price }}
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <!-- <div class="cardProduct" *ngFor="let product of products" (click)="openProductModal(product)">
      <div class="cardProduct__img">
        <img class="cardProduct__img" [src]="product.avatar" alt="Photo of a Shiba Inu">
      </div>
      <div class="cardProduct__body">
        <p class="cardProduct__title">{{product.name}}</p>
        <app-star [rating]="product.rating"></app-star>
        <p class="cardProduct__value">R$ {{product.price}}</p>
        <p class="cardProduct__text">{{product.category}}</p>
      </div>
    </div> -->
  </div>

  <div class="paginator">
    <mat-paginator
      class="dark:bg-blue-950 dark:text-gray-300"
      [length]="1000"
      [pageSize]="9"
      [pageSizeOptions]="[3, 6, 12, 15, 24, 36, 99]"
      aria-label="Select page"
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>
</section>
