
.productModal {
  display: flex;

  &__img_div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    border-radius: 4px;
  }
  
  &__info {
    width: 50%;
  }

  &__body {
    padding: 10px;
  }
  
  &__title {
    font-weight: 500;
    margin: 0;
  }

  &__text {
    margin: 0;
  }

  &__value {
    margin: 5px 0;
  }

  &__description {
    margin: 0;
    font-size: 1rem;
  }
  
  &__selection {
    padding: 10px;
  }

  &__input {
    border-radius: 4px;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
  }

  &__buttons_div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
  }

  &__button {
    background: #6366f1;
    padding: 4px;
    border-radius: 4px;
  }

  &__button:hover {
    background: crimson;
  }
}

@media (max-width: 600px) {
  .productModal {
    flex-direction: column;
    padding: 10px;

    &__img_div {
      width: 100%;
    }

    &__buttons_div {
      justify-content: space-around;
    }

    &__title {
      font-size: 22px;
      font-weight: 500;
    }

    &__rating {
      font-size: 15px;
    }

    &__text {
      font-size: 15px;
    }

    &__value {
      font-size: 18px;
    }

    &__info {
      width: 100%;
      margin: 10px 0;
    }

    &__description {
      font-size: 18px;
      line-height: 24px;
      font-size: 1rem;
    }

    &__button {
      font-size: 15px;
    }
  }
}

@media (min-width: 601px) {
  .productModal {
    padding: 30px;
    gap: 20px;

    &__body {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 70%;
      justify-content: flex-start;
      line-height: 40px;
    }

    &__title {
      font-size: 2.5rem;
      max-height: none;
    }

    &__rating {
      // font-size: 1.5rem;
    }

    &__text {
      font-size: 1.5rem;
    }

    &__value {
      font-size: 2rem;
    }

    &__description {
      font-size: 2rem;
      line-height: 45px;
      font-size: 1rem;
    }

    &__input {
      font-size: 2rem;
    }

    &__button {
      font-size: 1.5rem;
      padding: 20px;
    }
  }
}