<div class="productModal">
    <div class="productModal__img_div">
        <img class="productModal__img" [src]="data.avatar" alt="photo of the product">
    </div>
    <div class="productModal__info">
        <div class="productModal__body">
            <p class="productModal__title">{{data.name}}</p>
            <app-star class="productModal__rating" [rating]="data.rating"></app-star>
            <p class="productModal__text">{{data.category}}</p>
            <p class="productModal__value">R$ {{data.price}}</p>
            <p class="productModal__description">{{data.description}}</p>
        </div>
        <div class="productModal__selection">
            <input class="productModal__input" matInput type="number" min="0" [(ngModel)]="quantity"/>
            <div class="productModal__buttons_div">
                <button class="productModal__button" (click)="changeProductQuantityInCart(data.id, false)">Remover</button>
                <button class="productModal__button" (click)="changeProductQuantityInCart(data.id, true)">Adicionar</button>
            </div>
        </div>
    </div>
</div>
