<div class="dark:bg-slate-800">
    <div
        class="flex justify-between items-center bg-white-300 dark:text-white dark:bg-blue-950 p-5 font-medium text-lg shadow-lg">
        Shoplistify
        <button class="flex transition-transform hover:scale-125 align-middle" (click)="darkMode.set(!darkMode())">
            <span *ngIf="!darkMode()" class="material-icons">dark_mode</span>
            <span *ngIf="darkMode()" class="material-icons">light_mode</span>
        </button>
    </div>

<app-top-bar></app-top-bar>

<app-product-list></app-product-list>

</div>
